@use "sass:math";
@import "mixins";
@import "fonts";

$fontFamily: Roboto;
$fontSize: 16;
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1160px;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainColor: #fff;

@import "null";
body {
    color: $mainColor;
}
._container {
    max-width: $maxWidthContainer;
    padding: 0 10px;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: 970px;
    }
    @media (max-width: $md2) {
        max-width: 750px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px;
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@import "header";
@import "footer";
@import "sponsors";
@import "exhibitors";
@import "speakers";
@import "media";
@import "contacts";
@import "registration";
@import "detail";
@import "detail-speaker";
@import "activities";

.page {
    flex: 1 1 auto;
}

body {
    background: #fff;
    .wrapper {
        width: $maxWidth;
        position: relative;
        font-family: $fontFamily;
    }
}
.section__title {
    color: #323232;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.banner {
    display: flex;
    justify-content: center;
    .banner__container {
        height: 440px;
    }
    .banner__slider {
        position: relative;
        z-index: 5;
        padding: 123px 36px 0 0;
        .slider__item {
            background: url(../img/bg__slider.png) no-repeat;
            background-position: right;
            width: 427px;
            height: 179px;
            z-index: 5;
            display: flex;
            justify-content: end;
            padding-right: 30px;
            .item__date {
                width: 105px;
                height: 128px;
                border: 1px solid #c99c47;
                border-right: 3px solid #c99c47;
                background-color: #ffffff;
                margin: 26px -10px 0 0;
                .date__days {
                    white-space: nowrap;
                    color: #c99c47;
                    font-family: "Roboto Black";
                    font-size: 29px;
                    line-height: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 28px 0px 0 0;
                }
                .date__month {
                    padding: 4px 0px 0 13px;
                    width: 81px;
                    height: 13px;
                    color: #c99c47;
                    font-family: "Roboto Black";
                    font-size: 18px;
                    line-height: 22.19px;
                    text-align: center;
                }
                .date__year {
                    color: #c99c47;
                    font-family: "Roboto Black";
                    font-size: 35px;
                    line-height: 23.88px;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 19px 0px 0 0;
                }
            }
            .item__title {
                color: #c99c47;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 35px 0px 0 0px;
                margin-right: 23px;
                white-space: nowrap;
            }
            .item__text {
                font-family: Roboto;
                font-weight: 300;
                color: #323232;
                font-size: 13px;
                width: 239px;
                line-height: 17.97px;
            }
            .item__place {
                color: #757575;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
            }
        }
        .slick-arrow {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .slick-arrow {
            position: absolute;
            top: 62%;
            width: 12px;
            height: 47px;
            z-index: 5;
        }
        .slick-prev {
            position: absolute;
            right: 490px;
            font-size: 0;
            background: url(../img/left_arrow.png);
        }
        .slick-next {
            position: absolute;
            right: 0px;
            font-size: 0;
            background: url(../img/rigth_arrow.png);
        }
    }
}
.describe {
    .describe__text {
        color: #323232;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
        display: flex;
        text-align: center;
        margin-top: 66px;
    }
    .describe__content {
        display: flex;
        justify-content: center;
        .content__item {
            display: flex;
            flex-direction: column;
            max-width: 360px;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            .item__img {
                height: 169px;
                width: 169px;
            }
            .item__title {
                color: #323232;
                font-family: Roboto;
                line-height: 24px;
                text-align: justify;
                font-size: 17px;
                font-weight: 500;
                margin-top: 27px;
            }
            .item__text {
                color: #323232;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                line-height: 24px;
                text-align: justify;
                margin-top: 21px;
            }
            .item__button {
                width: 120px;
                height: 38px;
                margin-top: 20px;
                background-color: #d4c198;
                padding: 7px 0 0 27px;
                .button__link {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 13px;
                    line-height: 24px;
                }
            }
            .more__text {
                width: 157px;
                height: 9px;
                color: #919191;
                font-family: Roboto;
                font-size: 11px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                margin-top: 16px;
            }
        }
        .content__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-bottom: 49px;
            &-item {
                width: 153px;
                height: 42px;
                padding: 8px 0 0 30px;
                background-color: #c99c47;
                margin-top: 26px;
                .button__link {
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 13px;
                    line-height: 24px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
            .subscribe__button {
                background-color: #323232;

                .button__link {
                    padding: 8px 0 0 17px;
                }
            }
        }
    }
}
.reviews {
    padding-top: 54px;
    background-color: rgba(232, 216, 181, 0.3);

    .reviews__slider {
        margin-top: 40px;
        position: relative;
        .slider__item {
            display: flex;
            padding-bottom: 61px;
            .item__img {
                width: 121px;
                height: 121px;
            }

            .item__review {
                width: 411px;
                height: 245px;
                margin-left: 14px;
            }
        }
        .review__name {
            margin: 26px 0 0 31px;
            color: #323232;
            font-family: Roboto;
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
        }
        .review__date {
            color: #ffffff;
            font-family: Roboto;
            font-size: 9px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-transform: uppercase;
            padding: 4px 0 0 17px;
            width: 119px;
            height: 29px;
            background-color: #bbbbbd;
            margin: 11px 0 0 31px;
        }
        .review__text {
            margin: 11px 0 0 31px;
            max-width: 333px;
            color: #323232;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            background-color: #fff;
            padding-right: 6px;
            z-index: 15;
        }
        .slick-arrow {
            position: absolute;
            top: 30%;
            width: 12px;
            height: 47px;
            z-index: 15;
        }
        .slick-prev {
            position: absolute;
            left: -45px;
            font-size: 0;
            background: url(../img/orange_left_arrow.png);
        }
        .slick-next {
            position: absolute;
            right: -31px;
            font-size: 0;
            background: url(../img/orange_rigth_arrow.png);
        }
    }
}
.video {
    display: flex;
    justify-content: center;
    padding-top: 54px;
    .video__player {
        padding-bottom: 59px;
    }
}
.clients {
    padding-top: 44px;
    background-color: rgba(232, 216, 181, 0.3);
    .clients__slider {
        display: flex;
        margin-top: 33px;
        padding-bottom: 70px;
        position: relative;
        .slider__item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 12px;
            width: 180px;
            height: 123px;
            border: 1px solid #f8f3e9;
            background-color: #ffffff;
            &:first-child {
                margin-left: 0;
            }
        }
        .slick-arrow {
            position: absolute;
            top: 20%;
            width: 12px;
            height: 47px;
            z-index: 15;
        }
        .slick-prev {
            position: absolute;
            left: -45px;
            z-index: 10;
            font-size: 0;
            background: url(../img/orange_left_arrow.png);
        }
        .slick-next {
            z-index: 10;
            position: absolute;
            right: -31px;
            font-size: 0;
            background: url(../img/orange_rigth_arrow.png);
        }
    }
}
//===========================================//
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
//===========================================//
@media (max-width: 1160px) {
    .describe {
        .row {
            flex-wrap: nowrap;
        }
    }
    .reviews {
        .item__review {
            max-width: 320px;
        }
        .review__text {
            margin: 11px 0 0 10px !important;
            width: 295px;
        }
    }
}
@media (max-width: 1040.98px) {
    .reviews {
        padding: 54px 53px 0 60px;

        .item__review {
            max-width: 300px;
        }
        .review__text {
            width: 275px;
        }
    }
}

@media (max-width: 992.98px) {
    .banner {
        .banner__slider {
            right: 10%;
        }
    }
    .describe {
        .row {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .clients {
        padding: 44px 35px 0px 50px;
    }
    .reviews {
        .item__review {
            max-width: 300px;
        }
        .review__text {
            margin: 11px 0 0 10px !important;
            width: 275px;
        }
        .slider__item {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 768.98px) {
    .banner {
        .banner__slider {
            right: 20%;
        }
    }
}
@media (max-width: 729px) {
    .describe {
        .describe__content {
            .content__item {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 585px) {
    .banner {
        .banner__slider {
            right: 23%;
        }
    }
    .reviews {
        .reviews__slider {
            .slider__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                .item__img {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 525px) {
    .banner {
        .banner__slider {
            .slider__item {
                background-size: contain;
                background-position: end;
                height: 120px;
                width: 100px;
            }
            right: 23%;
        }
    }
}
@media (max-width: 450.98px) {
    .reviews {
        .reviews__slider {
            width: 300px;
            .slider__item {
                margin-left: -13px;
                padding-bottom: 40px;
            }
            .review__text {
                width: 275px;
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                gap: 10px;
                padding-bottom: 20px;
                font-size: 0;
                li {
                    background-color: #fff;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
                .slick-active {
                    border: #ffffff 2px solid;
                    background-color: transparent;
                }
            }
        }
    }
}
@media (max-width: 405px) {
    .reviews {
        h2 {
            padding-left: 20px;
        }
        .reviews__slider {
            .slider__item {
                margin-left: -23px;
                margin-right: 20px;
            }
            .review__text {
                width: 275px;
            }
        }
    }
}
@media (max-width: 375.98px) {
    .describe {
        .describe__content {
            .content__item {
                margin-right: 0;
                max-width: 310px;
            }
        }
    }
    .reviews {
        justify-content: center;
        padding-left: 46px;
        .reviews__slider {
            .slider__item {
                margin-left: -13px;
                margin-right: 40px;
            }
        }
    }
}
@media (max-width: 350px) {
    .describe {
        .describe__content {
            .content__buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0;
            }
        }
    }
    .reviews {
        padding-left: 10px;
    }
}
//==============================================================//
.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1000;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #ffffff;
    width: 421px;
    height: 372px;
    border: 2px solid #c99c47;
    background-color: #ffffff;
    &::before {
        width: 0;
        height: 0;
    }

    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    .close {
        position: absolute;
        right: -22px;
        top: -22px;
        cursor: pointer;
    }
    .popup__title {
        color: #323232;
        font-size: 17px;
        font-family: Roboto;
        margin: 36px 0 0 0;
    }
    .popup__text {
        color: #323232;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        margin-top: 18px;
    }
    .form__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .form__input {
            color: #606060;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            width: 270px;
            height: 50px;
            border: 1px solid #e8d8b6;
            background-color: #ffffff;
            text-align: center;
            font-size: 12px;
            padding-left: 15px;
            color: #606060;
            z-index: auto;
            margin-top: 6px;
        }
        .form__button {
            margin-top: 12px;
            padding: 13px 35px 13px 35px;
            background-color: #c99c47;
            font-family: Roboto;
            font-size: 13px;
            display: flex;
            align-items: end;
            color: #ffffff;
        }
    }
}
